# MICROSERVICE DATA: Persistence, apigateway routing
spring:
  application:
    name: AuthApiGateway
  banner:
    location: JPD.txt
  jpa:
    properties:
      generate-ddl: true
      hibernate:
        "[format_sql]": true
        "[show_sql]": true
        "[default_schema]": pctaller
#APIGATEWAY ROUTING
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
          lower-case-service-id: true
      routes:
        - id: PERSONMANAGER
          uri: lb://PERSONMANAGER
          predicates:
            - Path=/PERSONMANAGER/**
          filters:
            - StripPrefix=1 # Remove the first path segment before forwarding (p.e. PERSONMANAGER)
        - id: PERSONBATCH
          uri: lb://PERSONBATCH
          predicates:
            - Path=/PERSONBATCH/**
          filters:
            - StripPrefix=1
  #CONFIGURATION TO ALLOW SPRING WEB AND APIGATEWAY TO BE BOTH PRESENT
  main:
    web-application-type: reactive
    allow-bean-definition-overriding: true

# SERVER CONFIGURATION
server:
  port: ${SERVER_PORT:7777}
logging:
  level:
   "[org.springframework.web]": INFO
   "[org.springframework.security]": INFO

# CUSTOM JWT settings 
myconfig:
  security:
    jwt:
      SECRET_KEY: ${SECRET_KEY}
      # In prod I would not make this, but since this is a personal project and in case I lose access to this terminal
      expirationMinutes: 15 #minutes
      #refresh-token:
      #  expiration: 60 # minutes
      
#DISCOVERY CLIENT      
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://${EUREKA_INSTANCE_HOSTNAME:localhost}:${EUREKA_PORT:9876}/eureka